.Form {
  border: none;
  border-bottom: 2px solid #00A896 !important; /* Light Teal */
}

.Button {
  border: none;
  background-color: #E9C46A !important; /* Deep Blue */
  color: black !important;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #F4A261 !important; /* Light Yellow */
  color: #264653 !important; /* Deep Blue for contrast */
}
