.Product {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.Product:hover {
  transform: scale(1.02);
}

.ProductImage {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.ProductName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.ProductDescription {
  font-size: 0.9rem;
  color: #555;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductDetail {
  font-size: 0.9rem;
  margin: 0;
}

.RatingContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Star {
  color: #f8c146;
  cursor: pointer;
  transition: color 0.3s;
}

.Star:hover {
  color: #e67e22;
}

.StarAverage {
  color: #f8c146;
  pointer-events: none;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.CardFooter {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  font-size: 0.8rem;
}
