.Product {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  margin: auto;
}

.ProductContainer {
  width: 100%;
  margin: auto;
}

.Product:hover {
  transform: scale(1.02);
}

.ProductImage {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.ProductName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.ProductDescription {
  font-size: 0.9rem;
  color: #555;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductDetail {
  font-size: 0.9rem;
  margin: 0;
}

.RatingContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Star {
  color: #f8c146;
  cursor: pointer;
  transition: color 0.3s;
}

.Star:hover {
  color: #e67e22;
}

.StarAverage {
  color: #f8c146;
  pointer-events: none;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #f00a0a;
}

.HeartOutline:hover {
  color: #f85032;
}

.CardFooter {
  background-color: #f0f4f8; /* Light neutral for contrast */
  border-top: 1px solid #dadadf; /* Light border */
  font-size: 0.8rem;
  color: #264653; /* Deep Blue */
}

@media (min-width: 992px) { /* Larger screens */
  .ProductContainer {
    max-width: 100%;
    margin: auto;
  }
}
