.Row {
  height: calc(100vh - 81px);
}

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9; /* Golden Yellow */
  box-sizing: border-box;
  border-radius: 2px;
  color: #264653; /* Deep Blue */
  text-align: center;
  padding: 10px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #20716F; /* Teal */
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #F4A261; /* Muted Orange */
}

.Container {
  padding: 30px 10px;
  background-color: #f0f4f8; /* Slightly lighter background to add depth */
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}
